.home {
    .home-wrapper {
         display: flex;
         .home-component {
            flex:6;
            color:black;
            padding-top: 10em;
            // display: none;
         }
    }
}