.nav-component {
  position: relative;

  .navbar {
    height: 90px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    border-left: 0px;
    position: fixed;
    width: 100%;
    // background: purple;

    .nav-container {
      display: flex;
      position: absolute;
      width: 100%;
      left: 0px;
      top: 0px;
      // height: 180px;
      // background: tomato;

      .logo-div {
        flex: 1.6;
        // background: darkmagenta;
        // padding: 10px 20px;
        .logo {
          width: 130.37px;
          cursor: pointer;
          margin: 28px 20px;
        }
      }
      .input-container {
        flex: 6;
        // background: chocolate;
        display: flex;
        justify-content: space-between;

        .input-wrapper {
          display: flex;
          position: relative;

          .input-div {
            margin: 25px 0;
            margin-left: 60px;
            background: #ffffff;
            opacity: 0.2;
            border: 1px solid #213f7d;
            border-radius: 8px;
            width: 400px;
            height: 40px;
            border-right: none;

            .input {
              outline: none;
              width: 98%;
              height: 100%;
              border: none;
              padding: 3px 15px;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              margin-left: 5px;

            }
          }
          .search-icon-div {
            margin: 25px 0;
            background: #39cdcc;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            position: absolute;
            top: 0px;
            left: 405px;
            height: 40px;
            width: 3.5em;

            .search-icon {
              margin: 12px 20px;
              cursor: pointer;
            }
          }
        }

        .icon-div {
            display: flex;
            border: 1px solid purple;
            margin-right: 3em;
            // justify-content: space-around;
            align-items: center;
            padding: 0 10px;
            width: 30%;
        }
      }

      // .input-div {
      //     // margin-right: 300px;
      //     // border: 1px soild green;
      // }
    }
  }
}
