.user {
    .user-wrapper {
         display: flex;
         .user-component {
            flex:6;
            color: #213F7D;
            padding-top: 10em;
           
            .widget {
                display: flex;
                padding: 20px;
                gap: 20px;
            }
         }
    }
}