.details-component {
  max-width: 990px;
  border: 1px solid red;
  margin: 0 auto 0 auto;
  padding: 0 50px 0 50px;
}
.details-component .first-segment {
  border: 1px solid blue;
}
.details-component .first-segment .first-row {
  display: flex;
  align-items: center;
}
.details-component .first-segment .first-row .less-than {
  border: 1px solid black;
  cursor: pointer;
  color: blue;
}
.details-component .first-segment .first-row .less-than:hover {
  color: #39cdcc;
}
.details-component .first-segment .first-row .back-text {
  padding-left: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #545F7D;
}
.details-component .first-segment .second-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.details-component .first-segment .second-row .user-details-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #213F7D;
}
.details-component .first-segment .second-row .black-active-div {
  display: flex;
}
.details-component .first-segment .second-row .black-active-div .blacklist {
  border: 1px solid #E4033B;
  border-radius: 5px;
  margin-right: 20px;
  padding: 8px 13px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #E4033B;
}
.details-component .first-segment .second-row .black-active-div .activate-user {
  border: 1px solid #39cdcc;
  border-radius: 5px;
  padding: 8px 13px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39cdcc;
}
.details-component .second-segment {
  border: 1px solid brown;
  margin-top: 40px;
}
.details-component .second-segment .first-row-wrapper {
  display: flex;
  align-items: center;
}
.details-component .second-segment .first-row-wrapper {
  margin-top: 20px;
  border: 1px solid red;
  padding: 0 25px;
}
.details-component .second-segment .first-row-wrapper .pad {
  padding: 0 20px;
}
.details-component .second-segment .first-row-wrapper .second-div .full-name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #213F7D;
}
.details-component .second-segment .first-row-wrapper .second-div .acount-num {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #545F7D;
}
.details-component .second-segment .first-row-wrapper .third-div {
  border-left: 1px solid #545F7D;
  border-right: 1px solid #545F7D;
  padding: 10px 20px;
}
.details-component .second-segment .first-row-wrapper .third-div .user-tier {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #545F7D;
}
.details-component .second-segment .first-row-wrapper .fourth-div .account-bal {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}
.details-component .second-segment .first-row-wrapper .fourth-div .bvn {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #213F7D;
}
.details-component .second-segment .first-row-wrapper img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 2px solid #213F7D;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  -o-object-fit: contain;
     object-fit: contain;
}
.details-component .second-segment .second-row-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 15px 0 30px;
}
.details-component .second-segment .second-row-wrapper .child {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding: 5px 18px;
  cursor: pointer;
}
.details-component .second-segment .second-row-wrapper .child:active {
  border-bottom: 2px solid #39cdcc;
}/*# sourceMappingURL=UserDetails.css.map */