.user {
  height: 100px;
  border: 1px solid brown;
  margin-bottom: -200px;
}
.user .user-wrapper {
  display: flex;
}
.user .user-wrapper .user-component {
  flex: 6;
  color: #213f7d;
  padding-top: 5em;
  background: #fbfbfb;
}
.user .user-wrapper .user-component .wid-wrap {
  padding: 0 60px 0 60px;
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
}
.user .user-wrapper .user-component .wid-wrap .wid-cont {
  display: flex;
  padding: 60px 0 60px 0;
  gap: 28px;
}
.user .user-wrapper .user-component .table-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1010px;
  height: auto;
  overflow-x: auto;
  padding: 0 60px 0 60px;
}
.user .user-wrapper .user-component .table-container .table-wrapper {
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  background: #ffffff;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}
.user .user-wrapper .user-component .pagination {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-right: 55px;
  margin-top: 25px;
  flex-wrap: wrap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.user .user-wrapper .user-component .pagination .active {
  background: rgba(33, 63, 125, 0.1);
  color: #545f7d;
  font-weight: 500;
}
.user .user-wrapper .user-component .pagination .page-num {
  padding: 4px 9px;
  cursor: pointer;
  border-radius: 4px;
}
.user .user-wrapper .user-component .pagination .page-num:hover {
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
}
.user .user-wrapper .user-component .pagination .page {
  padding: 4px 9px;
}
.user .user-wrapper .user-component .pagination .page:hover {
  background: rgba(33, 63, 125, 0.1);
  border-radius: 3px;
  color: #545f7d;
}
.user .user-wrapper .user-component .table {
  width: 800px;
  border-collapse: collapse;
  margin: 40px 20px 30px 20px;
}
.user .user-wrapper .user-component .table .t-head {
  text-align: center;
}
.user .user-wrapper .user-component .table .t-head .t-row-head {
  text-align: justify;
  margin: 0 0 0 0;
}
.user .user-wrapper .user-component .table .t-head .t-row-head .table-head {
  padding: 0 60px 10px 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  align-items: flex-end;
  text-transform: uppercase;
}
.user .user-wrapper .user-component .table .t-head .t-row-head .table-head .menu {
  margin-left: 9px;
  margin-top: 5px;
}
.user .user-wrapper .user-component .table .t-head .t-row-head .table-head .number {
  padding-left: 4px;
}
.user .user-wrapper .user-component .table .t-body {
  margin: 50px;
}
.user .user-wrapper .user-component .table .t-body .t-row-body {
  margin: 50px;
  padding: 150px;
  height: 60px;
  border-width: 1px;
  border-color: pink;
  border-bottom: 2px solid rgba(33, 63, 125, 0.1);
}
.user .user-wrapper .user-component .table .t-body .t-row-body:last-child {
  border-bottom: none;
}
.user .user-wrapper .user-component .table .t-body .t-row-body .table-data {
  padding: 3px 25px 3px 0;
}
.user .user-wrapper .user-component .table .t-body .t-row-body .dot {
  margin-top: 13px;
  align-self: center;
  text-align: center;
}/*# sourceMappingURL=User.css.map */